:root {
  --main-color1: #ededed;
  --main-color2: #777777;
  --main-color2: #444444;
  --main-color2: #0011bb;
  --main-color2: #6600cc;

  margin: none;
}

.App {
  font-family: sans-serif;
  margin: none;
}

.Header {
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  margin: none;
}

.Header-Title {
  color: #777777;
  margin: 0.5em;
}

.Header-Logo {
  margin: 1em;
}

.User-Nav {
  margin: 2em;
}

.User-Link {
  font-weight: bold;
}

.Logo-Image {
  width: auto;
  height: auto;
  border-radius: 20%;
}
